/* Mobile styles (default) */
.landingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: 80vh;
}

.authenticationContainer {
  width: 100%;
  max-width: 400px;
}

.authSwitch {
  text-align: center;
}

.authLink {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.authLink:hover {
  text-decoration: underline;
}
.forgetPassword{
  color: #007bff;
  cursor: pointer;
}
/* Tablet styles (min-width: 768px) */
@media (min-width: 768px) {
  .landingContainer {
    padding: 40px;
  }

  .authenticationContainer {
    max-width: 500px; /* Increase the container width for larger screens */
  }
}

/* Desktop styles (min-width: 1024px) */
@media (min-width: 1024px) {
  .landingContainer {
    padding: 60px;
  }

  .authenticationContainer {
    max-width: 600px; /* Further increase the width for desktop */
    padding: 40px;
  }
}
