/* NewsList.module.css */

.newsList {
  padding: 16px;
}

.newsCard {
  transition: transform 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.newsCard:hover {
  transform: scale(1.02);
}

.newsTitle {
  font-weight: bold;
  margin-bottom: 8px;
  color: brown;
}

.newsContent {
  margin-bottom: 12px;
}

.newsInfo {
  color: rgb(4, 170, 104);
  font-size: 12px;
}

.noNewsMessage {
  text-align: center;
  color: gray;
  margin-top: 20px;
  font-size: 1.5em;
}

.readMoreButton {
  margin-top: 8px;
  text-transform: none; /* Optional: Remove uppercase transformation for button text */
}
