/* NewsList.module.css */

.newsList {
  padding: 16px;
}

.newsCard {
  transition: transform 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative; 
  padding-bottom: 40px;
  min-height: 400px;
}

.newsCard:hover {
  transform: scale(1.02);
}

.newsTitle {
  font-weight: bold;
  margin-bottom: 8px;
  color: brown;
}

.newsContent {
  margin-bottom: 12px;
}

.newsInfo {
  color: rgb(4, 170, 104);
  font-size: 12px;
}

/* Positioning for the edit and delete action buttons */
.actionButtons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px; /* Space between the edit and delete icons */
}

.actionButtons .MuiIconButton-root {
  color: #757575; /* Default color */
  transition: color 0.3s ease;
}

.actionButtons .MuiIconButton-root:hover {
  color: #d32f2f; /* Change to red on hover for delete */
}

.noNewsMessage {
  text-align: center;
  color: gray;
  margin-top: 20px;
  font-size: 1.5em;
}

.readMoreButton {
  margin-top: 8px;
  text-transform: none; /* Remove uppercase transformation for button text */
  color: #007bff; /* Standard button color */
  padding: 0;
}

.readMoreButton:hover {
  text-decoration: underline; /* Underline on hover */
  background-color: transparent; /* Optional: remove background on hover */
}

/* Delete confirmation modal */
.dialogTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.dialogContentText {
  font-size: 1rem;
}

.dialogActions button {
  font-size: 0.875rem;
}
