.newsPage {
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: hsl(0, 25%, 94%);
  min-height: 75vh;
}

.heading {
  font-size: 1.8em;
  margin-bottom: 20px;
  color: #f6f5f5;
  text-align: center;
}


