.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #003366;
  position: sticky;
  top: 0;
  min-height: 10vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.logoContainer {
  flex: 1;
  color: white;
}

.toggleMenu {
  display: none;
  cursor: pointer;
  color: white;
}

.navContainer {
  display: flex;
  align-items: center;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modalActions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cancelButton,
.confirmButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton {
  background-color: #52c521;
}

.confirmButton {
  background-color: #c4390b;
  color: white;
}

.spinner {
  border: 2px solid transparent;
  border-top: 2px solid #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profileMenu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  margin: 0 10px;
  color: white;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navLink {
  text-decoration: none;
  color: rgb(218, 205, 205);
  margin-left: 20px;
  font-weight: bold;
}

.homeIcon {
  color: #007bff;
}

.profileIcon {
  color: #28a745;
}

.settingIcon {
  color: #28a745;
}

.logoutIcon {
  color: #dc3545;
  margin-right: 5px;
}

.icon {
  font-size: 15px;
  transition: color 0.5s ease, transform 0.5s ease;
  font-weight: bold;
  margin-right: 10px;
}

.icon:hover {
  opacity: 0.7;
}

.loginLink {
  margin-left: auto;
}

@media (max-width: 768px) {
  .toggleMenu {
    display: block;
    width: 20px;
  }

  .navContainer {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: -100%;
    background: #212529;
    z-index: 100000;
    transition: left 0.5s ease, opacity 0.5s ease;
    opacity: 4;
    height: 90vh;
  }

  .navContainer.active {
    display: flex;
    left: 0;
    opacity: 1;
  }

  .profileMenu {
    flex-direction: column;
    padding: 10px 0;
  }

  .menuList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
  }
  .navLink {
    color: white;
    margin-bottom: 20px;
  }
  .menuList .navLink {
    gap: 20px;
  }
  .logoutIcon {
    margin-left: 20px;
  }
}
