.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  top: 0;
  position: sticky;
  height: 10vh;
  z-index: 1000;
}

.logoContainer {
  flex: 1;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
}

.navContainer {
  flex: 1;
  text-align: right;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.lowerHeader {
  display: flex;
  justify-content: flex-end;
}

.profileMenu {
  list-style-type: none;
  display: flex;
}

.profileMenu li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
  font-size: 24px;
}

/* Colorful Icons */
.profileIcon ,.homeIcon{
  color: #4caf50; /* Green */
}

.settingIcon {
  color: #2196f3; /* Blue */
}

.logoutIcon {
  color: #f44336; /* Red */
}

.menuList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
