/* addCourse.module.css */

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
  min-height: 100vh;
  margin-top: 50px;
}
.container h2 {
  text-align: center;
  
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: solid 1px rgb(50, 50, 110);
  padding: 20px;
}

.error {
  color: red;
  margin-bottom: 15px;
}
