.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}



.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  position: sticky;
  top: 100px;
}

.addButtonContainer {
  position: relative;
  transition: opacity 0.5s, transform 0.5s ease-in-out;
  opacity: 0;
  transform: translateY(-20px); 
}

.show {
  opacity: 1;
  transform: translateY(0); 
}

.hide {
  opacity: 0;
  transform: translateY(-20px); 
}

.addButton {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  right: 80px;
}

.addButton:hover {
  background-color: #303f9f;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: 10px;
  top: 10px;
}

.iconContainer:hover {
  background-color: #303f9f;
}

.icon {
  font-size: 24px;
}

@keyframes vibrate {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
}

.dropdownContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.smallSelect {
  width: 30%;
}

@media (max-width: 1024px) {
  .smallSelect {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .addButton {
    right: 10px;
  }

  .dropdownContainer {
    flex-direction: column;
  }
  .buttonContainer {
    position: sticky;
    top: 100px;
  }
  .smallSelect {
    width: 100%;
  }

  .buttonContainer {
    justify-content: center;
  }

  .selectInput {
    margin-bottom: 1rem;
  }
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}
