.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height: 100vh;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  position: sticky;
  top: 100px;
}

.addButton {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
  right: 20px;
}

.addButton:hover {
  background-color: #303f9f;
}

.dropdownContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.smallSelect {
  width: 30%;
}

@media (max-width: 1024px) {
  .smallSelect {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .dropdownContainer {
    flex-direction: column;
  }
  .buttonContainer {
    position: sticky;
    top: 100px;
  }
  .smallSelect {
    width: 100%;
  }

  .buttonContainer {
    justify-content: center;
  }

  .selectInput {
    margin-bottom: 1rem;
  }
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}
