.studentPageContainer {
  padding: 20px;
  min-height: 100vh;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}
.selectionInputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.batchSelection,
.streamSelection {
  width: 45%;
  margin-bottom: 20px;
}

.label {
  margin: 20px;
}

.select {
  padding: 5px;
  width: 80%;
  margin: auto;
}

.error {
  color: red;
}
