.studentPageContainer {
  padding: 20px;
  min-height: 80vh;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.batchSelection {
  margin-bottom: 20px;
}

.label {
  margin-right: 10px;
}

.select {
  padding: 5px;
  width: 30%;
}

.error {
  color: red;
}
