.studentPageContainer {
  padding: 20px;
  min-height: 100vh;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.selectionInputs {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  margin-bottom: 20px;
}

.batchSelection,
.streamSelection {
  width: 100%; 
  max-width: 300px;
  margin-bottom: 20px;
}

.label {
  width: 100%;
}

.select {
  padding: 5px;
  width: 100%;
  margin: auto;
}

.error {
  color: red;
}

/* Responsive Styles */
@media (min-width: 600px) {
  .selectionInputs {
    flex-direction: row; 
  }

  .batchSelection,
  .streamSelection {
    width: 45%; 
  }
}

@media (min-width: 900px) {
  .batchSelection,
  .streamSelection {
    width: 30%; 
  }
}
