.usersPageContainer {
  padding: 20px;
  padding-top: 200px;
  margin: 0 auto;
  min-height: 100vh;
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.selectionContainer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.selectionInput {
  margin-bottom: 20px;
  width: 25%;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.select {
  padding: 10px;
  font-size: 16px;
  width: 95%;
}

/* Add User Button: top-right and sticky */
.addUserButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  position: sticky;
  top: 150px;
  right: 50px;
  float: right;
  z-index: 1000;
}

.addUserButton:hover {
  background-color: #45a049;
}

/* Mobile responsiveness */
@media (max-width: 766px) {
  .heading {
    font-size: 20px;
  }

  .select {
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }

  .addUserButton {
    font-size: 14px;
    padding: 10px 16px;
  }
  .selectionContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto;
  }
  .selectionInput {
    margin-bottom: 20px;
    width: 100%;
  }
}

/* Tablet responsiveness */
@media (max-width: 998px) {
  .heading {
    font-size: 22px;
  }

  .select {
    font-size: 15px;
    padding: 9px;
    width: 100%;
  }

  .addUserButton {
    font-size: 15px;
    padding: 11px 18px;
    right: 10px;
  }
}
